body {
    font-family: sans-serif; 
    background-color: #16eed1; 
    padding: 40px; 
}

h1 {
    text-align: center;
    color: #0c8d00;
    font-family: serif; 
}

form {
    background-color: #fff; 
    padding: 20px;  
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 800px; 
    margin: auto; 
}

label {
    display: block; 
    margin-bottom: 8px; 
    color: #1650ce; 
}

input[type="text"], 
input[type="email"],
input[type="radio"],
input[type="checkbox"] {
    margin-bottom: 10px; 
}

input[type="text"],
input[type="email"] {
    width: calc(100% - 20px); 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px; 
}

button {
    width: 100%; 
    padding: 10px; 
    background-color: #001aff; 
    color: #fff; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

button:hover {
    background-color: #21aeff;  
}
